.Nike{
    position: relative;
        height: 150px;
        left: 20px;
        width: 200px;
       top: 30px;
    }   

    .btn-secondary {
        color: #fff;
        background-color: #1d1e1f;
        border-color: #6c757d;  
    }
.Navbar01{
    background-color: rgb(255, 249, 249);
}
.Navbar02{
    background-color: rgb(7, 53, 204);
    height: 60px;
}
.Empresa{
    color: rgb(22, 22, 22); 
}
/* .Pesquisa{
    position: relative;
    left: -400px;
    width: 370px;
} */

 .Logo{
    margin-top: 20px;
} 

.Login{
    position: absolute;
    width: 300px;
    left: 700px;
  
}